@model Banco.ApiCore.ViewModel.ContaJuridicaViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Informação somente leitura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChaveJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChaveJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Senha8dig)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Senha8dig)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Senha6dig)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Senha6dig)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>


