@model IEnumerable<Banco.ApiCore.ViewModel.ContaFisicaViewModel>

@{
    ViewData["Title"] = "Lista de Contas Fisicas";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            
            <td class="text-right">
                <a class="btn btn-info" asp-controller="ContaFisica" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam>Detalhes</a>              
                <a class="btn btn-danger" supress-by-claim-name="ContaFisica" supress-by-claim-value="Excluir"  asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
